img {
	margin-bottom: 31px;
}

.container {
	margin-top: 50px;
}

h6 {
	margin-bottom: 18px;
}

#searchSelection {
	height: 2rem;
}

/* #mainForecast {
	height: 5rems;
} */
#forecastSection {
	margin-top: 1.5rem;
	margin-bottom: .5rem;
}

#uv12 {
	background-color: #81b29a;
	color: white;
}

#uv35 {
	background-color: #f2cc8f;
	color: white;
}
  
#uv67 {
	background-color: #e07a5f;
	color: white;
}
  
#uv810 {
	background-color: #9e2a2b;
	color: white;
}

#uv11 {
	background-color: #6d597a;	
	color: white;
}