.container {
	margin-top: 2.5rem;
}

.card {
	margin: .25rem;
}

h6 {
	margin-bottom: .5rem;
}

img {
	margin-top: .75rem;
	margin-bottom: 1rem;
}

p {
	margin: .2em;
}

#searchSelection {
	height: 2rem;
}

#previousSearches {
	margin-bottom: 1rem;
}

#searchSelection {
	width: 100%;
	color: gray;
}

#forecastSection {
	margin-top: 1.5rem;
	margin-bottom: .25rem;
}

footer {
	height: 3rem;
}

/* for uv highlighting */
#uv12 {
	background-color: #81b29a;
	color: white;
}

#uv35 {
	background-color: #f2cc8f;
	color: white;
}
  
#uv67 {
	background-color: #e07a5f;
	color: white;
}
  
#uv810 {
	background-color: #9e2a2b;
	color: white;
}

#uv11 {
	background-color: #6d597a;	
	color: white;
}

@media screen and (min-width: 769px) {
	#mainForeCard {
	width: 35%;
	}
  }

@media screen and (max-width: 768px) {
	#mainForeCard {
	width: 100%;
	}
  }
  
